/* Reset some default styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #000000;
}

/* Container for the entire app */
#root {
    min-height: 100vh;
}